<link rel="stylesheet" href="/css/home.css">
<h1>
    codeial / <%= title %>
</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <%if(locals.user){%>
    <form action="/post/create-post" id="new-post-form" method="post">
        <textarea name="content" placeholder="Type Here ..." cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    <div id="display-post-container">
        <ul>

            <% for(post of posts){ %>
                <li>
                     <%if((locals.user)&&(post.user.id == locals.user.id)){%>
                        <small><a href="/post/delete-post/<%= post.id%>">X</a></small>
                    <%}%>
                    <p><%= post.content %></p> 
                   
                    <small>- <%= post.user.name %></small>
                    <div id="display-comments-container">
                        <ul>
                            <% for(comment of post.comments){ %>
                                <li>
                                    <small><%= comment.content %> <br/>-- <%= comment.user.name %></small>
                                    <%if((locals.user)&&((comment.user.id == locals.user.id)||(post.user.id == locals.user.id))){%>
                                        <small><a href="/post/delete-comment/<%= comment.id %>">X</a></small>
                                    <%}%>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                    <%if(locals.user){%>

                    <form action="/post/comment" id="new-comment-form" method="post">
                        <input type="hidden" name="postId" value="<%= post._id %>">
                        <textarea name="content"  cols="20" rows="2" placeholder="comment..."></textarea>
                        <input type="submit" value="Comment">
                    </form>
                    <%}%>
                </li>
                
            <%}%> 
        </ul>
        
    </div>
</section>