<link rel="stylesheet" href="/css/home.css">
<h1>
    codeial / <%= title %>
</h1>
<section id="feed-posts">
    <h4>Posts</h4>
    <%if(locals.user){%>
    <form action="/post/create-post" id="new-post-form" method="post">
        <textarea name="content" placeholder="Type Here ..." cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    <div id="display-post-container">
        <ul>

            <% for(let i=0;i<posts.length;i++){ %>
                <li>
                    <p><%= posts[i].content %></p> 
                    <small>- <%= posts[i].user.name %></small>
                    <div id="display-comments-container">
                        <ul>
                            <% for(let j = 0;j<posts[i].comments.length;j++){ %>
                                <li>
                                    <small><%= posts[i].comments[j].content %> <br/>-- <%= posts[i].comments[j].user.name %></small>
                                    
                                </li>
                            <% } %>
                        </ul>
                    </div>
                    <%if(locals.user){%>

                    <form action="/post/comment" id="new-comment-form" method="post">
                        <input type="hidden" name="postId" value="<%= posts[i]._id %>">
                        <textarea name="content"  cols="20" rows="2" placeholder="comment..."></textarea>
                        <input type="submit" value="Comment">
                    </form>
                    <%}%>
                </li>
                
            <%}%> 
        </ul>
        
    </div>
</section>